.comment-box {
	width: auto;
	margin-bottom: 40px;
	background-color: #fcefef;
	padding: 10px;
}
.comment-box p {
	font-family: arial;
	font-size: 14px;
	line-height: 25px;
	color: #282828;
	font-weight: 100;
}

.title {
	font-family: arial;
	font-size: 16 px;
	font-weight: bold;
}