h2{
	color: #474E69;
}

h4{
	color: orange;
}
.content_wrapper{
width:1000px;
height: 800px;
}
#content_area{
width:630px;
float: left;
}
#form_field {
padding: 25px;
font-family: Lato;
}

#summary {
padding: 10px;
width:270px;
margin-top: 20px;
margin-right: 40px;
float: right;
border: 2px solid;
border-radius: 10px;
}
