h2{
	color: #474E69;
}

h4{
	color: orange;
}
.content_wrapper{
	width:1000px;
	height: 800px;
}
#content_area{
	width:630px;
	float: left;
}
#form_field {
	padding: 25px;
	font-family: Lato;
}

#summary {
	padding: 10px;
	width:270px;
	margin-top: 20px;
	margin-right: 40px;
	float: right;
	border: 2px solid;
	border-radius: 10px;
}

.submit input {
	width:100px; 
	height: 40px;
	background-color: #5DADE2;
	color: #fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	cursor: pointer;
}
.submit input:hover {
	background-color: #474E69;
}

.submit input p {
	font-family: arial;
	font-size: 16px;
	line-height: 16px;
	color: #282828;
	font-weight: 100;}

#confirmorder {
	height: 40;
	width: 150;
	margin: 0px -70px;
	position: relative;
	top: 50%;
	left: 50%;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #6699ff;
}

ul.grid {
	list-style: none;
	font-size: 0px;
}
ul.grid li {
	display: inline-block;
	width: 180px;
	height: 180px;
	margin: 5px;
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 0px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.grid li img {
	max-width: 80%;
	height: auto;
	margin: 0 0 10px;
}
ul.grid li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}