h2{
	margin-bottom:20px;
	color: #474E69;
}

.form_field {
  padding: 25px;
  font-family: Lato;
  margin-left: 50px;
}

input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color:#999999;
	box-shadow:rgba(0,0,0,0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height:8px;
}

input: hover, textarea: hover,
input: focus, textarea: focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
}

.form label {
	font-size: 16px;
	margin-left: 4px;
	color: black;
	line-height:30px;	
}

.form label :after{
    color: #e32;
    content: ' *';
    display:inline;
}

.submit input {
	width:100px; 
	height: 40px;
	font-size: 18px;
	background-color: #5DADE2;
	color: #fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	cursor: pointer;
}
.submit input:hover {
	background-color: #474E69;
}

.submit input p {
	line-height: 20x;
	color: #282828;
	font-weight: 100;
}
